<div class="modal hide fade">
  <div class="modal-header">
    <p id="notice"><%= notice %></p>
  </div> 
  <div class="modal-body">
   <strong>From:  <%= @wish.user.full_name %></strong>
    <%= simple_format(@wish.wish) %><br />  
  </div>
  <div class="modal-footer">
      <button class="btn" aria-hidden="true" >
        <%= link_to 'Close', wishes_path %>
      </button>
  </div>
</div>

