<div class = "about">
<h1 class= "header"> Arpit Joshi Weds Esha Shah</h1>
  <div>
    <div>
      <!--Image space-->
    </div>
    <p>Hello All</p>
    <p>Welcome to our wedding website! Thank you so much for visiting! This is the place you’ll find every piece of information you will need regarding our wedding celebration. We are so excited to be spending this special time with friends and family we hold so dear to our hearts.</p>
    <p>Our wedding will be taking place in Nadiad, India. We have both always loved the city where we both have grown up and couldn't think of a better place to celebrate this special occasion. So mark your calendars because we would love for you to come celebrate with us!</p>
    <p>Arpit and I can't wait for this wonderful day and we hope you will join us in each step we take as we come closer to our big day.</p>
    <p>Let the celebration begin!</p>
  </div>
</div>