<h1>Mark Your Calendar</h1>
<div>
    <h4>Marriage Ceremony</h4>
    <p class="event">
      Date : January 19th 2014
    </p>
    <h4>Reception</h4>
     <p class="event">
      Date : January 20th 2014
    </p>
</div>