<h1 class= "header">Mark Your Calendar</h1>
<div class ="event">
    <h4>Pethi & Grah Shanti </h4>
     <p>
      Date : January 18th 2014 </br>
      <p>Venue: 5,"Bhakti Sadan"
             Sargam Park, Nadiad -387001
    </p>
    <h4>Marriage Ceremony</h4>
    <p>
      Date : January 19th 2014
    </p>
    <h4>Reception</h4>
     <p>
      Date : January 20th 2014
    </p>
</div>
<div>
</div>