// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


//Page/about styles

.about p{
  font-family: cursive;
  font-size:15px;
  padding:3px;
  margin-right: 10px;
}


.event p {
  font-family:cursive;
  font-size : 20px;
  padding-bottom:1px;
  margin-left: 20px;
}

.event h4{
  
  margin-top: 25px;
  
}
