// Place all the styles related to the wishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new-wish{
    padding :20px 0;
}

.wish {
  border-bottom : solid 1px #CCC;
  padding : 5px 0;
  align: right;
}

.wish p{
  margin : 4px 0;
}

.wish.hover{
  background : #FAFAFA
}
.wish .admin{
  display :none;
}

.wish.hover .admin{
  display :inline;
}