// Place all the styles related to the wishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.wish {
  border-bottom : solid 1px #CCC;
  padding : 10px 10px;
  align: right;
}

.wish p{
  margin : 4px 0;
}

.wish.hover{
  background : #E6F3FA;
}
.wish .admin{
  display :none;
}

.wish.hover .admin{
  display :inline;
}

.meta{
  color: #0088cc;
}
#wish_wish{
  width:100%;
  height: 100px;
}

